div.cursors div{
    position: absolute;
    top: 300px;
    left:300px;
    width: 32px;
    height: 32px;
    background-color: aqua;
    border-radius: 50%;
    z-index: 10000;
    pointer-events: none;
    transform: translate(-50%, -50%);
}
div.cursors div span {
    position: absolute;
    top: 0;
    left: 40px;
    width: 300px;

    font-size: 32px;
    font-weight: 700;
    line-height: 32px;
    color: red;

    opacity: 0;
    transition: opacity 0.5s;
}

div.cursors div span.visible {
    opacity:1;
}